body {
  background-color: white;
}

header {
  background-color: #027BFF;
}

li {
  margin: 3% 7%;
}

hr {
  border-width: 3px;
  margin-top: 0;
}

.nav {
  --bs-nav-link-hover-color: red;
}

.nav-link {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

footer {
background-color: #027BFF;
}

#createrMark {
  font-size: 8px;
  text-align: center;
}

