body {
  background-color: lightgray;
}

header {
  background-color: #027BFF;
}

li {
  margin: 3% 7%;
  font-family: 'Ephesis', cursive;
  
}

hr {
  border-width: 3px;
  margin-top: 0;
}

.nav {
  --bs-nav-link-hover-color: red;
}

.nav-link {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

footer {
background-color: #027BFF;
}

#createrMark {
  font-size: 8px;
  text-align: center;
}

#imageDiv {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 10px;
      grid-column-gap: 5px;
      margin: 10px 5px;
}

@media (max-width: 900px) {
  #imageDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  #imageDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

img {
  width: 600px;
  height: 600px;
  border: 1px solid gray;
  border-radius: 5%;
  margin: 0 auto 0 auto;
  object-fit: fill;
}

h2 {
  font-family: 'Ephesis', cursive;
}





